.contact-footer {
  background-color: none;
  font-family: "Poppins", sans-serif;
  padding: 100px 8% 80px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  min-height: 55vh;
}

.footer-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 40px;
}

/* COLUMNAS */
.footer-col {
  flex: 1;
  max-width: 300px;
}

.footer-col h3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 12px;
  color: #111;
}

.footer-col p {
  font-size: 0.95rem;
  color: #111;
  line-height: 1.6;
}

.footer-col ul {
  margin: 0;
  padding-left: 18px;
}

.footer-col li {
  font-size: 0.9rem;
}

/* IZQUIERDA: NOMBRE */
.footer-col.left h2 {
  color: #C4A286;
  font-size: 3.7rem;
  font-weight: 700;
  margin: 0;
}

/* ICONOS */
.social-icons {
  margin-top: 6px;
  display: flex;
  gap: 14px;
}

.social-icons img {
  width: 26px;
  cursor: pointer;
  transition: 0.25s ease;
}

.social-icons img:hover {
  transform: scale(1.15);
  opacity: 0.75;
}

/* RESPONSIVE */
@media (max-width: 1000px) {
  .footer-content {
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
  }

  .footer-col.left h2 {
    font-size: 2.7rem;
  }

  .social-icons img {
    width: 25px;
  }
}
