.skills {
  background-color: none;
  padding: 70px 8%;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

/* Título */
.skills-title {
  text-align: center;
  font-size: 2.6rem;
  font-style: italic;
  font-weight: 600;
  margin-bottom: 60px;
}

/* Layout */
.skills-layout {
  display: flex;
  gap: 60px;
}

/* =====================================
      COLUMNA IZQUIERDA (BLOQUE ÚNICO)
===================================== */
.skills-left-box {
  flex: 1.2;
  background-color: #D5C4BA;
  border-radius: 22px;
  padding: 40px 45px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.block-title {
  color: #B58763;
  font-weight: 700;
  font-size: 1.1rem;
}

.skills-left-box hr {
  border: none;
  border-top: 1px solid #bfae9f;
  margin: 15px 0;
}

/* Tags */
.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.tags span {
  background-color: #8D8D8D;
  color: white;
  padding: 7px 15px;
  border-radius: 18px;
  font-size: 0.9rem;
}

.tags.vertical span {
  width: 100%;
}

/* =====================================
      COLUMNA DERECHA
===================================== */
.skills-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.skills-box {
  background-color: #D5C4BA;
  padding: 25px 30px;
  border-radius: 18px;
}

.skills-box h3 {
  color: #B58763;
  font-size: 1.1rem;
  margin-bottom: 15px;
  font-weight: 700;
}

/* Focus */
.focus-list {
  list-style: none;
  padding: 0;
}

.focus-list li {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 18px;
}

.focus-list img {
  height: 28px;
  width: 28px;
  object-fit: contain;
}

/* Bars */
.bar {
  width: 100%;
  height: 6px;
  background-color: #c2b2a8;
  border-radius: 5px;
  overflow: hidden;
}

.fill {
  height: 100%;
  background-color: #8D8D8D;
  border-radius: 5px;
}

/* RESPONSIVE */
@media (max-width: 1000px) {
  .skills-layout {
    flex-direction: column;
  }
}
